# Supabase Database Configuration
DB_HOST=db.ofikztulwfiufxjymrsz.supabase.co
DB_USER=postgres
DB_PASSWORD=Duong19082k3@
DB_NAME=postgres
DB_PORT=5432
DB_SSLMODE=require

# Server Configuration
PORT=8080
GIN_MODE=release